kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: nrr-test
nodes:
- role: control-plane
- role: worker
  kubeadmConfigPatches:
  - |
    kind: JoinConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        register-with-taints: "readiness.k8s.io/NetworkReady=pending:NoSchedule"
